<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        CIS Audit
                    </a>
                </li>
                <li>
                    <a href="">
                        About
                    </a>
                </li>
                <li>
                    <a href="">
                        Audit
                    </a>
                </li>
                <li>
                    <a >
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a  target="_blank">AKZ Hafsa</a> for a better Audit.
        </div>
    </div>
</footer>
